.page__wrapper {
    .content {
        .content__rows {
            top: 50%;
            transform: translateY(-50%);
            width: 400px;

            .content__row {
                line-height: 50px;
            }
        }
    }
}

section {
    position: relative;
    height: 100vh;
    width: 100%;

    // Move content down on the first slide
    // so that the big header doesnt get in the way
    &:first-child .section__content .content {
        top: 55%;
    }

    .section__content {
        height: 100%;
        width: 100%;

        .content {
            // Content structure styling
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;

            .content__row--wrapper {
                display: inline-block;

                .content__row {
                    overflow: hidden;
                    text-align: center;

                    .content__column--wrapper {
                        overflow: hidden;
                        display: inline-block;

                        .content__column {
                            float: left;
                            padding: 10px;
                        }
                    }
                }
            }

            // Specific content styling
            .content__animation {
                width: 100px;
                height: 100px;
                background: $color-1;
            }
            .content__row--text {
                width: 100px;
            }

            .content__personal-photo, .content__personal-description {
                width: 500px;
            }
        }
    }

    .chevron__wrapper {
        display: none;
    }

}
