@media only screen and (min-width: $tablet-break),
print {

    section {
        .section__content {
            .content {
                top: 50%;

                .content__row--wrapper {
                    .content__row {
                        .content__column--wrapper > .content__column {
                            float: left;
                            padding: 5px;
                        }
                    }
                }

                .content__personal-photo, .content__personal-description {
                    width: 300px;
                }
                .content__personal-description {
                    text-align: left;
                }

                .content__contact-form {
                    .content__labels, .content__fields {
                        width: 400px;
                    }
                }
            }
        }
    }

}
