@media only screen and (min-width: $tablet-break),
print {

    section {
        .section__content {
            .content {
                top: 50%;

                .content__row--wrapper {
                    .content__row {
                        .content__column--wrapper {
                            .content__column {
                                float: left;
                            }
                        }
                    }
                }

                .content__personal-photo, .content__personal-description {
                    width: 300px;
                }
                .content__personal-description {
                    text-align: left;
                }

                .content__portfolio-title {
                    display: block;
                    margin-bottom: 10px;
                }
                .content__portfolio-block {
                    width: 250px;
                    height: 250px;
                    margin: 20px;
                    box-shadow: 0 0 20px black;
                }
            }
        }
    }

}
