@media only screen and (min-width: $desktop-break),
print {

    .portfolio__slideshow--wrapper {
        .portfolio__slideshow {
            .portfolio__slideshow--slide {
                width: 500px;
                height: 500px;
            }
        }

        .portfolio__slideshow--arrow-left,
        .portfolio__slideshow--arrow-right {
            width: 250px;
        }
        .portfolio__slideshow--arrow-left {
            .arrow__left {
                border-top: 60px solid transparent;
                border-bottom: 60px solid transparent;
                border-right: 60px solid $color-2;
            }
        }
        .portfolio__slideshow--arrow-right {
            .arrow__right {
                border-top: 60px solid transparent;
                border-bottom: 60px solid transparent;
                border-left: 60px solid $color-2;
            }
        }

        .portfolio__slideshow {
            .portfolio__slideshow--slide {
                .slideshow__slide--content {
                    .slide__content--title {
                        height: 30px;
                        margin-bottom: 10px;
                    }

                    .slide__content--links {
                        height: 190px;
                    }
                }
            }
        }
    }

}
