.portfolio__slideshow--wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;

    .portfolio__slideshow--arrow-left,
    .portfolio__slideshow--arrow-right {
        position: absolute;
        width: 90px;
        height: 100%;
        z-index: 1;
        background: rgba(#e0eeee, .7);
        cursor: pointer;

        .arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
        }
    }
    .portfolio__slideshow--arrow-left {
        left: 0;

        .arrow__left {
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 20px solid $color-2;
            -webkit-transform: translateY(-50%) translateX(-60%);
                    transform: translateY(-50%) translateX(-60%);
        }
    }
    .portfolio__slideshow--arrow-right {
        right: 0;

        .arrow__right {
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid $color-2;
            -webkit-transform: translateY(-50%) translateX(-40%);
                    transform: translateY(-50%) translateX(-40%);
        }
    }

    .portfolio__slideshow {
        overflow: hidden;
        width: 99999px;

        .portfolio__slideshow--slide {
            float: left;
            width: 200px;
            height: 200px;
            padding: 10px;

            .slideshow__slide--content {
                height: 100%;
                overflow: hidden;

                .slide__content--title {
                    height: 30px;
                    margin-bottom: 5px;
                }

                .slide__content--top-wrapper {
                    display: none;
                }

                .slide__content--mobile-caption {
                    display: block;
                    width: 100%;
                    height: 50px;
                    overflow: hidden;
                }

                .slide__content--links {
                    height: 95px;
                    padding: 10px;

                    .slide__content--link {
                        float: left;
                        width: 50%;
                        height: 100%;
                        padding: 10px;

                    }
                }
            }
        }
    }
}
