@media only screen and (min-width: $tablet-break),
print {

    .portfolio__slideshow--wrapper {
        .portfolio__slideshow--arrow-left,
        .portfolio__slideshow--arrow-right {
            width: 150px;
        }
        .portfolio__slideshow--arrow-left {
            .arrow__left {
                border-top: 40px solid transparent;
                border-bottom: 40px solid transparent;
                border-right: 40px solid $color-2;
            }
        }
        .portfolio__slideshow--arrow-right {
            .arrow__right {
                border-top: 40px solid transparent;
                border-bottom: 40px solid transparent;
                border-left: 40px solid $color-2;
            }
        }

        .portfolio__slideshow {
            .portfolio__slideshow--slide {
                width: 400px;
                height: 400px;
                padding: 20px;

                .slideshow__slide--content {
                    .slide__content--title {
                        height: 25px;
                        margin-bottom: 8px;
                    }

                    .slide__content--top-wrapper {
                        display: block;
                        height: 50%;
                        overflow: hidden;

                        .slide__content--image {
                            position: relative;
                            display: block;
                            float: left;
                            margin-right: 20px;
                            width: 50%;
                            height: 100%;

                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                -webkit-transform: translateX(-50%) translateY(-50%);
                                        transform: translateX(-50%) translateY(-50%);
                                width: 90%;
                                -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .75);
                                   -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .75);
                                        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .75);
                            }
                        }

                        .slide__content--summary {
                            text-align: left;
                            padding: 10px 0;
                        }
                    }

                    .slide__content--mobile-caption {
                        display: none;
                    }

                    .slide__content--links {
                        height: 147px;
                    }
                }
            }
        }
    }

}
