@media only screen and (min-width: $tablet-break),
print {

    .portfolio__slideshow--wrapper {
        .portfolio__slideshow--arrow-left,
        .portfolio__slideshow--arrow-right {
            width: 150px;
        }
        .portfolio__slideshow--arrow-left {
            .arrow__left {
                border-top: 40px solid transparent;
                border-bottom: 40px solid transparent;
                border-right: 40px solid $color-2;
            }
        }
        .portfolio__slideshow--arrow-right {
            .arrow__right {
                border-top: 40px solid transparent;
                border-bottom: 40px solid transparent;
                border-left: 40px solid $color-2;
            }
        }

        .portfolio__slideshow {
            .portfolio__slideshow--slide {
                width: 400px;
                height: 400px;
                padding: 20px;

                .slideshow__slide--content {
                    .slide__content--title {
                        height: 25px;
                        margin-bottom: 8px;
                    }

                    .slide__content--top-wrapper {
                        display: block;
                        height: 50%;
                        overflow: hidden;

                        .slide__content--image {
                            display: block;
                            float: left;
                            margin-right: 20px;
                            width: 50%;

                            img {
                                width: 100%;
                            }
                        }

                        .slide__content--summary {
                            text-align: left;
                        }
                    }

                    .slide__content--mobile-caption {
                        display: none;
                    }

                    .slide__content--links {
                        height: 147px;
                    }
                }
            }
        }
    }

}
