// Breakpoints
$tablet-break:          640px;
$tablet-break_2:        768px;
$desktop-break:         1024px;
$desktop-break_2:       1800px;

$color-1:               #50cbee;
$color-2:               #536862;
