.type-1 {
    font-size: 72pt;
    font-family: "Poiret One";
    font-weight: 600;
    line-height: 200px;
    letter-spacing: 5px;
}

.type-2 {
    font-size: 14pt;
    font-family: "Open Sans Light";
    line-height: 75px;
    letter-spacing: 2px;
}

.type-3 {
    font-size: 16pt;
    font-family: "Poiret One";
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 2px;
}
