@import 'constants';
@import 'typography';
@import 'fonts';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #page {
    height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    .header__top {
        background: $color-1;
        height: 200px;
        width: 100%;
        float: none;

        .header__top--text {
            color: white;
            text-align: center;
        }
    }

    .header__menu {
        background: #262626;
        height: 75px;
        width: 100%;
        text-align: center;
        float: none;

        .header__mini-section {
            background: $color-1;
            height: 100%;
            width: 0%;
            float: left;

            .header__mini-section--text {
                display: none;
                color: white;
                text-align: center;
                opacity: 0;
            }
        }

        .header__menu--items {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            float: left;
            position: relative;

            .header__menu--item {
                width: 30%;
                height: 100%;
                float: left;
                text-align: center;
                line-height: 75px;
                color: white;
            }

            /*.header__menu--divider {
                width: 5%;
                height: 100%;
                float: left;
                background: #363636;
                border: 10px solid #262626;
                border-style: inset;
            }*/

            .header__menu--divider {
                width: 5%;
                height: 100%;
                float: left;

                img {
                    display: block;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                }
            }

            .header__menu--arrow {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
                position: absolute;
                top: 100%;
                transform: translateY(-100%);
            }
        }
    }
}


.page__wrapper {
    position: absolute;
    top: 275px;
    bottom: 0;
    left: 0;
    right: 0;

    .content {
        .content__rows {
            top: 50%;
            transform: translateY(-50%);
            width: 400px;

            .content__row {
                line-height: 50px;
            }
        }
    }
}

section {
    position: relative;
    height: 100vh;
    width: 100%;

    .section__content {
        height: 100%;
        width: 100%;

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    .chevron__wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100px;
        z-index: 1;
        background: #262626;
        cursor: pointer;
    }
}
