@media only screen and (min-width: $desktop_break),
print {

    .type-1 {
        font-size: 60pt;
        font-family: "Poiret One";
        font-weight: 600;
        line-height: 15vh;
        letter-spacing: 5px;
    }

    .type-2 {
        font-size: 14pt;
        font-family: "Open Sans Light";
        line-height: 7.5vh;
        letter-spacing: 2px;
    }

    .type-6 {
        font-size: 48px;
        font-family: "Open Sans Bold";
        line-height: 400px;
        letter-spacing: 1px;
    }

    .type-9 {
        font-size: 14pt;
        font-family: "Open Sans Bold";
        line-height: 30px;
    }

    .type-10 {
        font-size: 12pt;
        font-family: "Open Sans Light";
        line-height: 27px;
    }

}
