.type-1 {
    font-size: 24pt;
    font-family: "Poiret One";
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 5px;
    text-transform: capitalize;
}

.type-2 {
    font-size: 11pt;
    font-family: "Open Sans Light";
    line-height: 60px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.type-3 {
    font-size: 24pt;
    font-family: "Poiret One";
    font-weight: 600;
    line-height: 7.5vh;
    letter-spacing: 2px;
}

.type-4 {
    font-size: 12pt;
    font-family: "Open Sans Regular";
    line-height: 25px;
    letter-spacing: 1px;
}

.type-5 {
    font-size: 18pt;
    font-family: "Open Sans Regular";
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.type-6 {
    font-size: 14px;
    font-family: "Open Sans Bold";
    letter-spacing: 1px;
    text-transform: capitalize;
}

.type-7 {
    font-size: 14pt;
    font-family: "Open Sans Regular";
    line-height: 30px;
    letter-spacing: 2px;
}

.type-8 {
    font-size: 12pt;
    font-family: "Open Sans Regular";
    line-height: 25px;
    letter-spacing: 2px;
}

.type-9 {
    font-size: 14pt;
    font-family: "Open Sans Bold";
    line-height: 30px;
    text-transform: capitalize;
}

.type-10 {
    font-size: 10pt;
    font-family: "Open Sans Regular";
    line-height: 20px;
}
