@media only screen and (min-width: $tablet-break),
print {

    .type-1 {
        font-size: 24pt;
        font-family: "Poiret One";
        font-weight: 600;
        line-height: 75px;
        letter-spacing: 5px;
    }

    .type-2 {
        font-size: 14pt;
        font-family: "Open Sans Light";
        line-height: 75px;
        letter-spacing: 2px;
    }

    .type-4 {
        font-size: 18pt;
        font-family: "Open Sans Regular";
        line-height: 50px;
        letter-spacing: 1px;
    }

    .type-6 {
        font-size: 24px;
        font-family: "Open Sans Bold";
        letter-spacing: 1px;
    }

    .type-9 {
        font-size: 14pt;
        font-family: "Open Sans Bold";
        line-height: 25px;
    }

    .type-10 {
        font-size: 9pt;
        font-family: "Open Sans Regular";
        line-height: 23px;
    }

}
