@media only screen and (min-width: $tablet-break),
print {

    .type-1 {
        font-weight: 600;
        line-height: 75px;
    }

    .type-2 {
        font-size: 14pt;
        line-height: 75px;
    }

    .type-4 {
        font-size: 14pt;
        line-height: 35px;
    }

    .type-5 {
        font-size: 24pt;
        font-family: "Open Sans Regular";
        line-height: 50px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

    .type-6 {
        font-size: 24px;
    }

    .type-7 {
        font-size: 18pt;
        line-height: 50px;
    }

    .type-9 {
        line-height: 25px;
    }

    .type-10 {
        font-size: 9pt;
        line-height: 23px;
    }

}
