header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, .75);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, .75);

    .header__mobile {
        height: 75px;
        background: $color-1;

        .header__mobile--text {
            color: white;
            margin: 0 20px;
            width: 100%;
        }

        // Hamburger styling and transition
        .header__mobile--hamburger {
            position: absolute;
            right: 0;
            height: 100%;
            width: 70px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);

            .hamburger__wrapper {
                display: block;
                position: relative;
                overflow: hidden;
                margin: 0;
                padding: 0;
                width: 70px;
                height: 100%;
                font-size: 0;
                text-indent: -9999px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                box-shadow: none;
                border-radius: none;
                -webkit-border-radius: none;
                border: none;
                cursor: pointer;
                transition: background .3s;

                &:focus {
                    outline: none;
                }

                .hamburger {
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: 18px;
                    right: 18px;
                    height: 5px;
                    background: white;
                    transform: translateY(50%);
                    -webkit-transform: translateY(50%);
                    -ms-transform: translateY(50%);
                    transition: transform .3s, -webkit-transform .3s, -ms-transform .3s;

                    &:before, &:after {
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        height: 5px;
                        background-color: #fff;
                        content: "";
                    }

                    &:before {
                        top: -10px;
                        transform-origin: top right;
                        -webkit-transform-origin: top right;
                        -ms-transform-origin: top right;
                        transition: transform .3s, -webkit-transform .3s, -ms-transform .3s, width .3s, top .3s;
                    }

                    &:after {
                        bottom: -10px;
                        transform-origin: bottom right;
                        -webkit-transform-origin: bottom right;
                        -ms-transform-origin: bottom right;
                        transition: transform .3s, -webkit-transform .3s, -ms-transform .3s, width .3s, bottom .3s;
                    }
                }
            }

            &.is-active {
                background: $color-3;

                .hamburger {
                    transform: rotate(180deg) translateY(-50%);
                    -webkit-transform: rotate(180deg) translateY(-50%);
                    -ms-transform: rotate(180deg) translateY(-50%);

                    &:before, &:after {
                        width: 50%;
                    }

                    &:before {
                        top: 0;
                        transform: translateX(20px) translateY(2px) rotate(45deg);
                        -webkit-transform: translateX(20px) translateY(2px) rotate(45deg);
                        -ms-transform: translateX(20px) translateY(2px) rotate(45deg);
                    }

                    &:after {
                        bottom: 0;
                        transform: translateX(20px) translateY(-2px) rotate(-45deg);
                        -webkit-transform: translateX(20px) translateY(-2px) rotate(-45deg);
                        -ms-transform: translateX(20px) translateY(-2px) rotate(-45deg);
                    }
                }
            }
        }

        .header__mobile--menu {
            overflow: hidden;
            height: 75px;
            position: absolute;
            top: 0;
            right: 70px;
            width: 0;

            .header__menu--items {
                height: 100%;
                float: right;

                .header__menu--item {
                    height: 100%;
                    width: calc((100vw - 70px) / 3);
                    float: left;
                    color: white;
                    text-align: center;
                    background: $color-2;
                    cursor: pointer;
                    border-right: 1px solid white;
                }

                .header__menu--item.mobile-menu__item--active {
                    background: $color-4;
                    transition: background .25s;
                }
            }
        }
    }

    .header__main {
        display: none;
    }
}
